= f.fields_for(:photos, @annoncment.photos.new) do |f_photo|
    .row
      .col-md-5.annoncment_photos
        = render(:partial => "/admin/photos/templates/form_input_photos", :locals => { f_photo: f_photo})
