#BackgroundColor {
  position: relative;
  width: 36px;
  height: 36px;
  background: url(/assets/colorpicker/select.png);
}


#BackgroundColor div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(/assets/colorpicker/select.png) center;
}

#FontColor {
  position: relative;
  width: 36px;
  height: 36px;
  background: url(/assets/colorpicker/select.png);
}

#FontColor div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(/assets/colorpicker/select.png) center;
}

#font_color {
  position: relative;
  width: 36px;
  height: 36px;
  background: url(/assets/colorpicker/select.png);
}

#font_color div {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background: url(/assets/colorpicker/select.png) center;
}

