= render(:partial => "/admin/background_by_defaults/form", :locals => {translate_button_background_by_default: t(".button.valid_new_background_by_default"), :url => admin_background_by_defaults_path })
