= render(:partial => "/admin/submenus/form", locals: {submit_value_submenus: t(".submit_value_edit_submenus"), :url => "/admin/categories/#{@category.title}/submenus/#{@submenu.title}", :method => :put})

