= render(:partial => "/admin/sub_menu_backgrounds/form", locals: {button_valid_sub_menu_background: t(".button.valid_edit_sub_menu_background"), url: admin_sub_menu_background_path(@sub_menu_background.uuid) })

