= render(:partial => "/admin/personalize_backgrounds/form", :locals => {button_value_personalize_background: t(".button.valid_new_personalize_background"), :url => admin_personalize_backgrounds_path })

