= render(:partial => "/admin/footer_backgrounds/form", :locals => { button_valid_footer_background: t(".button.valid_edit_footer_background"), :url => admin_footer_background_path(@footer_background.uuid)  })
