= render(:partial => "/admin/header_backgrounds/form", :locals => {valid_new_header_background: t(".button.valid_edit_header_background"), :url => admin_header_background_path(@header_background.uuid)  })
